body {
    margin: 0;
    background-color: #488286;
}

.body {
    background-image: url('../images/180608-aliens-fermi-paradox-ac-515p_3ed014cab156ff9319f4d52ee5242b89.nbcnews-fp-1200-630.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 870px;
    width: 100%;
}

.menu {
    background-color: #305252;
    height: 44px;
    width: 100%;
}
.header {
    position: relative;
    margin-top: 0px;
    padding-top: 9px;
    padding-left: 70px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-option {
    display: inline-block;
    padding-left: 60px;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.input-bar {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.input-block {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

label {
    display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.input {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.titles {
    margin-top: 280px;
    margin-left: 270px;
}
.title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitle {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    background-color: #B7D5D4;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #77878B;
}

table {
    display: block;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

thead {
    display: table-header-group;
    vertical-align: middle;
}

th {
    display: table-cell;
    text-align: center;
    color: white;
    font-weight: bold;
    min-width: 70px;
    vertical-align: bottom;
    padding: .75rem;
    border-top: 1px solid #B7D5D4;
    border-bottom: 2px solid #B7D5D4;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
}

tr {
    display: table-row;
}

tbody tr:nth-of-type(odd) {
    background-color: #305252;
}

td {
    display: table-cell;
    color: white;
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #B7D5D4;
}

.table-block {
    min-height: 870px;
}
.footer {
    background-color: #373E40;
    height: 44px;
    width: 100%;
}

.source {
    position: relative;
    padding-top: 9px;
    padding-right: 19px;
    float: right;
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}